@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

input {
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    &:focus {
        border-color: #0015b5;
    }
}
