.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .searchContainer {
        padding: 1rem;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        input {
            flex: 1;
            max-width: 300px;
        }
    }

    .listContainer {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        .drink {
            gap: 1rem;
            display: grid;
            @media (min-width: 600px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 900px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }
}
